.song-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 200px;
    height: 350px; 
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    background: rgb(251,0,108);
    background: linear-gradient(90deg, rgba(251,0,108,1) 24%, rgba(0,0,0,1) 49%);
}