body {
    font-family: sans-serif; 
    
  }
  
  .sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh; 
    width: 250px; 
    background: rgb(0,0,0);
background: linear-gradient(354deg, rgba(0,0,0,1) 3%, rgba(255,0,228,1) 10%, rgba(0,0,0,1) 70%);
    color: #fff; 
    box-shadow: 0 0 70px rgba(255, 0, 221, 0.2); 
    z-index: 10; 
    transition: transform 0.3s ease-in-out; 
  }
  
  .sidebar-header {
    padding: 20px;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-logo {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px;
  }
  
  .sidebar-nav {
    padding: 20px 0; 
  }
  
  .sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 15px; 
  }
  
  .sidebar-nav a {
    color: inherit; 
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 4px; 
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebar-nav a:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
  
  
  .sidebar-nav a.active {
    background-color: rgba(0, 0, 0, 0.1); /* Apply a darker background for active link */
    font-weight: bold; /* Make active link text bolder */
  }
  